body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.progress{
    background-color: lightgray;
    border-radius: 20px;
    height: 30px;
    width: 300px;
}

.progress-done{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: repeating-linear-gradient(
        to left,
        #0546e0,
        #1172f9,
        #4892f9
    );
    box-shadow: 0 5px 5px -6px #1172f9;
    border-radius: 20px;
    color: white;
    width: 0;
    height: 100%;
    transition: width 1s ease;
}


.inputContainer{
    display: flex;
    gap: 20px;
    width: 50%;
    justify-content: space-evenly;
}